/* Font is Acumin Pro by Adobe Fonts */
@import url("https://use.typekit.net/btb0riv.css");

* {
    box-sizing: border-box;
    font-family: "Acumin-Pro", sans-serif;
    background-color: #F7F9FA;
}

html, body{
    max-width: 75%;
    margin: auto;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    color: #07BAEA; 
}

a {
    color: black; 
    text-decoration: none; 
}

/* TOP NAVIGATION BAR  */
#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  height: 70px;
  width: 100%;
  text-align:center;
}
.navigation-bar img{
float:left;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: #07BAEA;
  font-size: 16px;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
}

#menu {
  float: right;
}

/* General Styles */

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
}

.center {
    align-content: center;
}

.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

.centre_text {
    text-align: center;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;

}

.right {
  float: right;
  width: 300px;
  padding: 10px;
}

.left {
  float: left;
  width: 300px;
  padding: 10px;
}

.appstore_image {
    width: 20%;
}

.button1 {
    background-color: #07BAEA;
    border: none;
    padding: 7.5px 35px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px; 
    margin: 10px;
}


/* Sign Up 1 Styles */


.signup-title {
font-size: 40px;
margin: 20px;
color: #07BAEA
}

.signup-box {
  border: 1px solid white;
  radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 60%;
  margin: auto;
  text-align: center;
}

#signupdescription {
  padding-bottom: 50px;
}

#facebook-button {
  width: 95%;
  padding: 5px;
  margin: 15px;
  background-color: #3b5998;
  color: white;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition-duration: 0.4s; /* hover transition for :hover */
  transition-duration: 0.4s;
}

#facebook-button:hover {
  background-color: #233458; /* Facebook Blue*/
}

#facebook-button:active {
  background-color: #233458; 
  transform: traslateY(6px);
}

#google-button {
  width: 95%;
  padding: 5px;
  margin: 15px 15px 15px 15px;
  background-color: #DC4B38;
  color: white;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition-duration: 0.4s; /* hover transition for :hover */
  transition-duration: 0.4s;
}

#google-button:hover {
  background-color: #8a2c20; 
}

#google-button:active {
  background-color: #8a2c20; 
  transform: translateY(6px);
}

#email-button {
  width: 95%;
  padding: 5px;
  margin: 5px 15px 15px 15px;
  background-color: white;
  color: black;
  border: 2px solid #f0f0f0; 
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition-duration: 0.4s; /* hover transition for :hover */
  transition-duration: 0.4s;
}

#email-button:hover {
  background-color: #f0f0f0; 
}

#email-button:active { 
  background-color: #f0f0f0;
  transform: translateY(6px);
}

.signup-logo {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  margin: 10px;
}

.img-fixed-left {
  position: fixed;
  bottom: 75px;
  left: 75px;
  width: 425px;
 
}

.img-fixed-right {
  position: fixed;
  bottom: 50px;
  right: 60px;
  width: 450px;
}

#account-login { 
  text-decoration: underline;
}


/* Signup Styles */

body {
  font-size: 20px;
}

input[type=text], select {
  width: 100%;
  border: 1px solid #07BAEA;
  border-radius: 4px;
}

input[type=email], select {
  width: 100%;
  border: 1px solid #07BAEA;
  border-radius: 4px;
}

input[type=password], select {
  width: 100%;
  border: 1px solid #07BAEA;
  border-radius: 4px;
}

.form {
  border-radius: 8px;
  border: 1px solid #ffffff;
  box-shadow: 0 14px 28px #dfdfdf; 
  padding: 20px;
  width: 50%;
  box-sizing: border-box;
  margin: 0 auto;
}

.title {
  font-size: 27px;
  padding-right: 15px;
}

.btn {
  border-radius: 25px;
  position: relative;
  vertical-align: top;
  height: 40px;
  width: 100%;
  padding: 0;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #07BAEA;
  border: 0;
  border-bottom: 2px solid #d0d0d0;
  cursor: pointer;
  margin-left: auto;
  
}

input:not([type="submit"]) {
  flex: 1;
  padding: 10px 20px;
  box-sizing: border-box;
}

p {
  display: flex;
}

label {
    width: 7em;
    margin-right: .5em;
}
/* Below 600px media query will activate */
@media (max-width: 600px) {
  p {
    display: block;
  }
  input {
    width: 100%;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #07BAEA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
}